@media (max-width: 950px) {
    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        margin-bottom: 30px;
        width: 200px;
    }

    .teachers {
        margin-right: 100px;
    }
}

@media (max-width: 721px) {
    .teachers {
        display: none;
    }
}

@media (max-width: 500px) {
  .header-nav {
    margin-bottom: -10px;
  }

  .header-logo {
    margin-bottom: 20px;
  }
  
  .header-nav-link {
    flex-direction: column;
  }

  .socials {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header-hero {
    flex-direction: column;
  }

  .header-hero-left {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .header-title {
    padding-top: 0px;
    font-size: 25px;
  }

  .header-descr {
    font-size: 15px;
    margin-bottom: 20px;
  }

.header-hero-right {
    justify-content: center;
  }
}