@media (max-width: 1195px) {
  .header-title {
  font-size: 3rem;
}

.header-descr {
  font-size: 1.7rem;
  margin-bottom: 30px;
}
  
}

@media (max-width: 1033px) {
.header-title {
  font-size: 2.5rem;
}
.header-descr {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.header-btn {
  width: 300px;
}
}


@media (max-width: 950px) {
    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        margin-bottom: 30px;
        width: 200px;
    }

    .header-hero-left {
    width: 45%;
    text-wrap: wrap;
}

}

@media (max-width: 830px) {
.header-hero {
    display: flex;
    overflow: hidden;
    height: 560px;
    gap: 10px;
}
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
}
  .header {
    margin-bottom: -20px;
  }

  .header-nav {
    margin-bottom: -20px;
  }

  .header-logo {
    margin-bottom: 20px;
  }
  
  .header-nav-link {
    flex-direction: column;
  }

  .socials {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header-hero {
    flex-direction: column;
    height: 700px;
    row-gap: 0;
  }

  .header-hero-left {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .header-title {
    padding-top: 0px;
    font-size: 25px;
  }

  .header-descr {
    font-size: 15px;
    margin-bottom: -30px;
  }

  .hero-min {
    display: block;
    margin-bottom: 30px;
  }
  
  .header-hero-right {
    display: none;
  }


  .hello-text {
    margin-bottom: 50px;
  }

  .korobov-name {
    font-size: 1.65rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.repetitor{
    font-size: 1.4rem;
}

.spec{
    font-size: 1.3rem;
    font-weight: 200;
}

.regaly-photo-min {
   display: block;
   max-width: 300px;
   padding-left: 15%;
}

.regaly-photo {
  display: none;
}

.hello-regaly-box {
  min-height: 500px;
}

.regaly-text {
    position: absolute;
    color: aliceblue;
    width: 80%;
    font-size: 1.2rem;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

@media (max-width: 600px){
.hello {
  padding-top: 0px;
}
.header-hero {
  overflow: visible;
}
 .regaly-text {
    position: absolute;
    color: aliceblue;
    width: 80%;
    font-size: 1.35rem;
    line-height: 35px;
}

}

@media (max-width: 415px) {
  .regaly-text {
    position: absolute;
    color: aliceblue;
    width: 80%;
    font-size: 1.2rem;
    line-height: 27px;
}
}

@media (max-width: 373px) {
  .regaly-text {
    position: absolute;
    color: aliceblue;
    width: 80%;
    font-size: 1.2rem;
    line-height: 23px;
}
}