:root {
  --main-color: rgb(32, 170, 210);
  --acent-color: #f75b00;
  --dark: #3a3a3a;
}

*{
    box-sizing: border-box;
    font-family: 'TT Firs Neue', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.header-logo {
    width: 250px;
}

.header-nav-link {
    display: flex;
    align-items: center;
}

.teachers {
    margin-right: 50px;
    text-decoration: none; 
    font-size: 1rem;
    font-weight: 400;
}

.teachers:hover {
   color: var(--main-color);
   transition: 0.2s;
}

.socials {
    margin-right: 50px;
}

.socials-list {
    display: flex;
}

.social-list-item:not(:last-child) {
 margin-right: 15px; 
}

.telephone {
    font-size: 1.2rem;
    color: var(--dark);
    font-weight: 400;
}

.telephone:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.header-hero {
    display: flex;
}

.header-hero-left {
    width: 40%;
}

.header-title {
    color: var(--main-color);
    font-size: 50px;
    font-weight: 550;
    margin-bottom: 10px;
    padding-top: 80px;
}

.header-descr {
     font-size:  25px;
     margin-bottom: 40px;
}

.header-btn {
     background-color: var(--main-color);
     color: rgb(255, 255, 255);
     width: 320px;
     height: 80px;
     font-size: 20px;
     border-radius: 20px;
     transition: background-color 0.25s ease-in;
}

.header-btn:hover {
    background-color: var(--acent-color);
}